
  <!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lección: Finanzas Personales para Jóvenes</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@300;400&display=swap"
    rel="stylesheet" />
    <link rel="stylesheet" href="/public/css/leccion1.css">
  <link rel="icon" href="../../public/img/logo22.png" sizes="32x32" type="image/png" />
</head>

<body>
  <form class="form-container">
    <header>
      <a href="/indexCursos.html" class="logo">REF</a>
      <nav class="navbar">
        <a href="/indexCursos.html">Inicio</a>
        <button type="button" id="showProfileBtn">Perfil</button>
      </nav>
    </header>
<!-- Fondo oscuro que cubre toda la pantalla -->
  <div id="overlay"></div>

  <!-- Sección de perfil que aparecerá al hacer clic en el botón -->
  <div id="perfilSection">
    <div class="card">
      <button class="logout-btn" id="cerrarSesion">Cerrar Sesión</button>
      <div class="profile-pic"></div>
      <div class="bottom">
        <div class="content">
          <span class="name">My Name</span>
          <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls
          </span>
        </div>
        <div class="progress-container">
          <div class="progress-bar">
            <div class="progress-fill" id="progreso-usuario"></div>
          </div>
        </div>

        <div class="bottom-bottom">
          <button class="button" id="editProfileBtn">Editar</button>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <section class="leccion" id="leccion1">
        <h1 class="titulo">Finanzas Personales para Jóvenes</h1>
        <p>                Aprende desde hoy cómo gestionar tu dinero, ahorrar y tomar decisiones financieras inteligentes.
                        </p>
      </section>

      <section class="contenido-curso">
        <h2>Introducción al Curso</h2>
        <p>                Descubre los fundamentos de las finanzas personales...
                        </p>

        <h2 class="subtitulo">¿Qué es?</h2>
        <p>                Las finanzas personales son la gestión de los recursos financieros...
                        </p>

      <div class="imagenes-leccion">
       <figure>
          <img src="https://res.cloudinary.com/dwcydursu/image/upload/v1745089252/1cc65429-49e6-4447-aeef-3c105ee92fa4.jpg" alt="Imagen explicativa 1" />
          <figcaption>Ilustración introductoria de la lección</figcaption>
        </figure>
            <figure>
          <img src="https://res.cloudinary.com/dwcydursu/image/upload/v1745089253/ed8a0c11-47a7-4121-897b-c6c95682349a.jpg" alt="Imagen explicativa 1" />
          <figcaption>Ilustración introductoria de la lección</figcaption>
        </figure>
            </div>

        <h3 class="subtitulo">¿Por qué es importante?</h3>
        <p>                Si no controlas tus finanzas personales...
                        </p>

        <div class="practica">
          <h2>Práctica recomendada:</h2>
          <p>                Comienza creando tu primer presupuesto personal...
                            </p>
        </div>
      </section>

     <!-- Botón Finalizar -->
      <div class="finalizar-curso">
        <button type="button" onclick="finalizarCurso()" id="finalizarBtn">Finalizar</button>
      </div>
      
    </div>
</form>

      <footer>
        <p>&copy; 2025 Red de Educación Financiera. MyD.</p>
        <div class="social-icons">
          <a href="#" aria-label="Instagram">Instagram</a>
          <a href="#" aria-label="Facebook">Facebook</a>
          <a href="#" aria-label="LinkedIn">LinkedIn</a>
        </div>
      </footer>
   
  <script src="../../public/js/indexCursos.js"></script>
  <script src="../../public/js/ocultarPanelAdmin.js"></script>
  <script src="../../public/js/finalizarLeccion.js"></script>
</body>

</html>

    