<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red de Educación Financiera</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="../public/css/indexAdmin.css">
    <link rel="icon" href="../public/img/logo22.png" sizes="32x32" type="image/png">
</head>

<body>
    <!-- =============== Navigation ================ -->
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="../views/indexAdmin.html" class="logo-container">
                        <img src="../public/img/logo.png" alt="logo" class="logo">
                        <span class="title">REF</span>
                    </a>
                </li>

                <li>
                    <a href="/indexCursos.html">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Inicio</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="openAddContent()">
                        <span class="icon">
                            <ion-icon name="add-circle-outline"></ion-icon>
                        </span>
                        <span class="title">Agregar Contenido</span>
                    </a>
                </li>

                <li>
                    <a href="#" onclick="openHelp()">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Ayuda</span>
                    </a>
                </li>
                <li>
                    <a href="#" id="cerrarSesion2">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Cerrar sesión</span>
                    </a>

                </li>
            </ul>
        </div>


        <!-- Modal de Ayuda -->
        <div id="helpModal" class="modal">
            <div class="modal-content">
                <h2>Ayuda</h2>
                <p>Bienvenido a la sección de ayuda. Aquí encontrarás información sobre cómo usar la plataforma.</p><br>

                <h3>Preguntas Frecuentes</h3><br>
                <ul>
                    <li><strong>¿Cómo acceder a las lecciones?</strong>
                        <br> Haz clic en el curso que desees del menú principal.
                    </li>
                    <br>
                    <li><strong>¿Cómo restablecer mi contraseña?</strong>
                        <br> En el login haz clic enn "¿Olvidaste tu contraseña" y sigue los pasos que aparecen.
                    </li>
                    <br>
                    <li><strong>¿Cómo contactar soporte?</strong> <br>
                        Escríbenos a <strong>
                            <br>reddeeducacionfinanciera@gmail.com</strong>.</li>
                    <br>
                    <li><strong>¿Cómo cambiar mi nombre o descripción?</strong>
                        <br> Haz clic en la sección "Perfil" y haz clic en el botón "Editar" ahí podras actualizar tu
                        nombre y tu descripción
                    </li>
                    <br>
                    <li><strong>¿Cómo cambiar mi foto de perfil?</strong>
                        <br> Haz clic en la sección "Perfil" y haz clic en tu foto de perfil
                    </li>
                </ul>

                <button onclick="closeHelp()">Cerrar</button>
            </div>
        </div>



        <div id="addContentModal" class="modal">
            <div class="modal-leccion">
                <!-- FORMULARIO 1 - CURSO -->
                <form id="formCurso" enctype="multipart/form-data">
                    <section class="leccion">
                        <div class="conceptos">
                            <div class="conceptos-container">
                                <div class="concepto-item">
                                    <div class="icono">
                                        <img id="imagenMetas" src="../public/img/finanzas_jovenes.png"
                                            alt="Finanzas personales para jóvenes">
                                    </div>
                                    <input type="text" name="NombreCurso" value="Finanzas personales para jóvenes"
                                        required>
                                    <textarea name="Descripcion"
                                        required>Un curso práctico para ayudar a los jóvenes adultos a tomar el control de sus finanzas personales desde el principio.</textarea>
                                    <button type="button" onclick="abrirInput('inputMetas')">Cambiar Imagen</button>
                                    <input type="file" name="imgMetas" id="inputMetas" style="display: none;"
                                        accept="image/*" onchange="cambiarImagen(event, 'imagenMetas')">
                                </div>
                            </div>
                        </div>

                        <button type="submit">Guardar y continuar</button>
                        <button type="button" onclick="closeAddContent()">Cerrar</button>
                    </section>
                </form>

                <!-- FORMULARIO 2 - LECCIÓN -->
                <form id="formLeccion" style="display: none; opacity: 0; transition: opacity 0.5s ease;">
                    <section class="leccion" id="leccion1Editable">
                        <h1 class="titulo">Lección 1</h1>
                        <input type="text" name="TituloLeccion" value="Finanzas Personales para Jóvenes" required>
                        <textarea name="IntroLeccion" required>
                Aprende desde hoy cómo gestionar tu dinero, ahorrar y tomar decisiones financieras inteligentes.
                        </textarea>

                        <h2>Introducción al Curso</h2>
                        <textarea name="IntroCurso" required>
                Descubre los fundamentos de las finanzas personales...
                        </textarea>

                        <h2 class="subtitulo">¿Qué son?</h2>
                        <textarea name="Definicion" required>
                Las finanzas personales son la gestión de los recursos financieros...
                        </textarea>

                        <h3>Imágenes relacionadas:</h3>
                        <div class="imagenes-container">
                            <input type="file" id="img1" name="img1" accept="image/*" required>
                            <input type="file" id="img2" name="img2" accept="image/*" required>
                        </div>

                        <h3>¿Por qué es importante?</h3>
                        <textarea name="ImportanciaFinanzas" required>
                Si no controlas tus finanzas personales...
                        </textarea>

                        <div class="practica">
                            <h2>Práctica recomendada:</h2>
                            <textarea name="Practica" required>
                Comienza creando tu primer presupuesto personal...
                            </textarea>
                        </div>

                        <button type="submit">Guardar Lección</button>
                        <button type="button" onclick="volverAlCurso()">Volver</button>
                    </section>
                </form>

                </form>
            </div>
        </div>


        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <button id="showProfileBtn">
                    <img src="../public/img/user2.png">
                </button>
                <!-- Fondo oscuro que cubre toda la pantalla -->
                <div id="overlay"></div>

                <!-- Sección de perfil que aparecerá al hacer clic en el botón -->
                <div id="perfilSection">
                    <div class="card">
                        <button class="logout-btn" id="cerrarSesion">Cerrar Sesión</button>
                        <div class="profile-pic"></div>
                        <div class="bottom">
                            <div class="content">
                                <span class="name">My Name</span>
                                <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls
                                </span>
                            </div>

                            <div class="bottom-bottom">
                                <button class="button" id="editProfileBtn">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <!-- Usuarios Activos -->
                <div class="card" onclick="showUsers()">
                    <div>
                        <div class="numbers" id="totalUsuariosActivos">...</div>
                        <div class="cardName">Usuarios Activos</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="people-outline"></ion-icon>
                    </div>
                </div>

                <!-- Cursos REF -->
                <div class="card">
                    <div>
                        <div class="numbers" id="total-cursos">Cargando...</div>
                        <!-- Aquí mostrará el total de cursos -->
                        <div class="cardName">Total de Cursos REF</div>
                    </div>
                    <div class="iconBx">
                        <ion-icon name="book-outline"></ion-icon>
                    </div>
                </div>


                <!-- Modal para mostrar usuarios activos -->
                <div id="userBox" class="detailBox">
                    <span class="closeBtn" onclick="closeUsers()">&times;</span>
                    <h2>Usuarios Activos</h2>
                    <ul id="userList"></ul>
                </div>


                <!-- Usuarios -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2> Usuarios</h2>
                    </div>

                    <table id="userTable">
                        <tbody id="userTableBody">

                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <!-- =========== Scripts =========  -->
        <script src="../public/js/admin.js"></script>
        <script src="../public/js/adminUsuarios.js"></script>
        <script src="../public/js/obtenerCursos.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<footer>
    <p>&copy; 2025 Red de Educación Financiera. MyD.</p>
</footer>

</html>