<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" href="../public/css/estilosGenerales.css"> 
    <link rel="icon" href="../public/img/logo22.png" sizes="32x32" type="image/png">
</head>
<body>
    <form>
        <h1>Cambiar Contraseña</h1>
      
        <div class="input-box">
          <input type="email" id="correo" placeholder="Correo registrado" required>
        </div>
      
        <div class="input-box">
          <input type="password" id="nuevaContrasena" placeholder="Nueva contraseña" required>
        </div>
      
        <button id="btn-cambiar">Cambiar contraseña</button>
      </form>
      
      <script src="public/js/nuevaContrasena.js"></script>    
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
    
</body>
</html>