<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar Código</title>
    <link rel="stylesheet" href="../public/css/estilosGenerales.css"> 
    <link rel="icon" href="../public/img/logo22.png" sizes="32x32" type="image/png">
</head>
<body>
    <form id="form-solicitar-codigo">
        <h1>Solicitar Código</h1>
        <div class="input-box">
            <input id="correo" name="correo" type="email" placeholder="Tu correo" required>
        </div>
        <button type="submit" id="btn-solicitar-codigo" class="btn">Enviar código</button>
    </form>
    
    <script src="public/js/solicitarCodigo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
    

</body>
</html>
