<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificar Código</title>
    <link rel="stylesheet" href="../public/css/estilosGenerales.css"> 
    <link rel="icon" href="../public/img/logo22.png" sizes="32x32" type="image/png">
</head>
<body>
    <form id="form-verificar-codigo">
        <h1>Verificar Código</h1>
        <div class="input-box">
            <input type="email" id="correo" placeholder="Correo registrado" required>
        </div>
        <div class="input-box">
            <input type="text" id="codigo" placeholder="Código recibido" required>
        </div>

        <button type="submit" id="btn-verificar">Verificar</button>
    </form>
    
    <script src="public/js/verificar.js"></script>   
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
</body>
</html>
